@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
    --primary-color: rgba(15, 139, 141, 1);
    --footer-bg-color: rgba(20, 54, 66, 1);
    --btn-color: rgba(168, 32, 26, 1);
}

.detail-content img {
    width: 28em;
    height: 25.5em;
    display: block;
    margin: auto;
}

.caption-content {
    padding: 2em 4.1em;
    font-family: 'Lato', sans-serif;
    line-height: 3.5em;
}

.caption-content h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}

.caption-content p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(20, 54, 66, 1);
}

.caption-content h1 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 900;
}

.description-detail {
    padding: 0 4.1em;
    font-family: 'Lato', sans-serif;
    padding-top: 0.8em;
}

.description-detail h1 {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 500;
    border-bottom: 1.2px solid rgba(236, 154, 41, 1);
    padding-bottom: 10px;
}

.description-detail p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(20, 54, 66, 1);
    margin-top: 1em;
}

.btn-wrapper {
    padding: 0 4.1em;
}

.btn {
    background-color: var(--btn-color);
    color: rgba(249, 251, 254, 1);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: 0.8rem 2.8rem;
    border-radius: 4.1em;
    margin-top: 1.75em;
    border: none;
    font-weight: 400;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
}

.menu-detail img {
    width: 1.5em;
    transform: rotate(180deg);
    margin-left: -1.2em;
    filter: brightness(1) invert();
}

/* BREAKPOINTS */

@media screen and (min-width: 1280px) {
    
    .detail-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .detail-content img {
        width: 49.3em;
        height: 45em;
        display: block;
    }
    
    .caption-content {
        padding: 2em 4.1em;
        font-family: 'Lato', sans-serif;
        line-height: 8.2em;
        margin-right: 59rem;
    }
    
    .caption-content h2 {
        font-size: 4.8rem;
        font-weight: 800;
    }
    
    .caption-content p {
        font-size: 2.4rem;
        font-weight: 500;

    }
    
    .caption-content h1 {
        color: var(--primary-color);
        font-size: 6rem;
        font-weight: 800;
    }
    
    .description-detail {
        padding: 0 10em;
        font-family: 'Lato', sans-serif;
        padding-top: 0.8em;
    }
    
    .description-detail h1 {
        font-size: 4.8rem;
        color: var(--primary-color);
        font-weight: 500;
        border-bottom: 1.2px solid rgba(236, 154, 41, 1);
        padding-bottom: 10px;
    }
    
    .description-detail p {
        font-size: 2.4rem;
        font-weight: 400;
        color: rgba(20, 54, 66, 1);
        margin-top: 1em;
    }
    
    .btn-wrapper {
        padding: 0 10em;
    }
    
    .btn {
        background-color: var(--btn-color);
        color: rgba(249, 251, 254, 1);
        font-family: 'Lato', sans-serif;
        font-size: 2.4rem;
        padding: 1rem 2.8rem;
        border-radius: 4.1em;
        margin-top: 1.75em;
        border: none;
        font-weight: 400;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5em;
    }
    
    .menu-detail img {
        width: 1.6em;
        transform: rotate(180deg);
        margin-left: -0.5em;
        filter: brightness(1) invert();
    }
}

