@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
  --primary-color: rgba(15, 139, 141, 1);
  --footer-bg-color: rgba(20, 54, 66, 1);
  --btn-color: rgba(168, 32, 26, 1);
}

body {
  overflow-x: hidden;
}

main {
  margin-top: 180px;
}

header {
  border-radius: 20px;
  font-family: "Lato", sans-serif;
}

nav {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.active-header {
  border-bottom: 2px solid #EC9A29;
  transition: 0.3s ease-in all;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.container ul a {
  text-decoration: none;
  color: #f9fbfe;
  font-size: 1.4rem;
  font-weight: 400;
}

.container .img-wrapper img {
  width: 38vw;
  margin-bottom: 26px;
}

/* BREAKPOINTS */
@media screen and (min-width: 1280px) {

  body {
    overflow-x: hidden;
  }

  main {
    margin-top: 250px;
  }
  
  header {
    border-radius: 20px;
    font-family: "Lato", sans-serif;
  }

  .header-non-home {
    height: 200px;
  }

  nav {
    background-color: var(--primary-color);
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 70.8rem;
    padding: 5.3em 0 10em 10em;
  }

  .container ul {
    display: flex;
    gap: 5em;
    align-items: center;
  }

  .container ul a {
    text-decoration: none;
    color: #f9fbfe;
    font-size: 3rem;
    font-weight: 400;
  }

  .container .img-wrapper img {
    width: 335px;
    margin-bottom: 26px;
  }
}
