@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
    --primary-color: rgba(15, 139, 141, 1);
    --footer-bg-color: rgba(20, 54, 66, 1);
    --btn-color: rgba(168, 32, 26, 1);
}

/* Navbar */
#header-home {
    background-image: url(../assets//img/hero-img/Coffe\ Header.png);
    height: 70vmax;
    position: relative;
    background-size: cover;
    border-radius: 20px;
    background-color: rgba(20, 54, 66, .7);
    background-blend-mode: multiply;
    font-family: 'Lato', sans-serif;
}

#header-home #nav-home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.nav-home {
  background-color: var(--primary-color);
  transition: 1s ease all;
}

.nav-home-transparent {
  background: transparent;
}

.scroll {
  display: none;
}


header .header-content {
    color: rgba(249, 251, 254, 1);
    text-align: center;
    /* margin: 15% 0 ; */
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

header .header-content h2{
    font-weight: 900;
    font-size: 3.6rem;
    text-align: center;
}

header .header-content p {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0.5em;
}

/* Content */
.main-wrapper {
  margin-top: -100px;
}

.main-wrapper .content-wrapper {
    padding: 35px;
    opacity: 0;
    transform: translateX(-100%);
}

.content-wrapper.slide-right {
  opacity: 1;
  transform: translateX(10px);
  transition: 2s ease-out;
}

.main-wrapper .content-wrapper h3 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-decoration: underline #EC9A29 solid;
    text-underline-offset: 10px;
}

.main-wrapper .content-wrapper p {
    font-size: 1.2rem;
    color: #143642;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 16px;
}

.main-wrapper .content-wrapper img {
    display: block;
    width: 160px;
    height: 210px;
    margin: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 2.2em;
}

.main-wrapper .content-wrapper #product-showcase ,
.main-wrapper .content-wrapper #hang-out {
    width: 15em;
    height: 14em;
}

.btn {
    background-color: var(--btn-color);
    color: rgba(249, 251, 254, 1);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: 1em 1.8em;
    border-radius: 4.1em;
    margin-top: 1.75em;
    border: none;
    font-weight: 400;
}

/* Feeds-content */
.title-feeds,
.ask-wrapper h2 {
    font-size: 1.7rem;
    color: var(--primary-color);
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-align: center;
}

.title-feeds span {
    color: rgba(236, 154, 41, 1);
    text-decoration: underline #EC9A29 solid 1.3px;
    text-underline-offset: 6.9px;
}

.feeds-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.feeds-content img {
    width: 7em;
    height: 7em;
}

/* Section-Ask-Us */
.ask-wrapper {
    margin-top: 4.8em;
}

.ask-wrapper p{
    color: rgba(20, 54, 66, 1);
    font-size: 1.2rem;
    margin: 1.6em auto;
    font-family: 'Lato', sans-serif;
    width: 62%;
    font-weight: 400;
    text-align: center;
}

.btn-ask-us {
    display: block;
    margin: auto;
    background-color: var(--btn-color);
    color: rgba(249, 251, 254, 1);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: 1em 5em;
    border-radius: 4.1em;
    margin-top: 1.75em;
    border: none;
    font-weight: 400;
    
}

/* BREAKPOINTS */
@media screen and (min-width: 1280px) {
    /* Header */
    header {
      border-radius: 20px;
      font-family: "Lato", sans-serif;
    }
  
    nav {
      background-color: var(--primary-color);
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }

    .nav-home {
      background-color: var(--primary-color);
      transition: 1s ease all;
    }

    .nav-home-transparent {
      background: transparent;
    }
  
    .container {
      display: flex;
      flex-direction: row;
      gap: 70.8rem;
      padding: 5.3em 0 10em 10em;
    }
  
    .container ul {
      display: flex;
      gap: 5em;
      align-items: center;
    }
  
    .container ul a {
      text-decoration: none;
      color: #f9fbfe;
      font-size: 3rem;
      font-weight: 400;
    }
  
    .container .img-wrapper img {
      width: 335px;
      margin-bottom: 26px;
    }
  
    /* Header-main */
    #header-home {
      height: 50vmax;
      border-radius: 0.5rem;
      position: relative;
    }
  
    header .header-content {
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin: 10em;
      position: absolute;
      height: 500px;
      top: 56%;
      left: 45%;
      transform: translate(-50%, -50%);
    }
  
    header .header-content h2 {
      display: block;
      margin: auto;
      max-width: 60rem;
      font-weight: 800;
      font-size: 7rem;
    }
  
    header .header-content p {
      font-size: 3.6rem;
      font-weight: 400;
      margin-bottom: 50%;
    }
  
    /* Main-content */
    .main-wrapper .content-wrapper {
      display: flex;
      margin-top: 10em;
      opacity: 0;
      transform: translateX(-100%);
    }

    .content-wrapper.slide-right {
      opacity: 1;
      transform: translateX(100px);
      transition: 2s ease-out;
    }
  
    .main-wrapper .content-wrapper h3 {
      font-size: 4.8rem;
      font-weight: 800;
      text-decoration: underline #ec9a29 solid;
      text-underline-offset: 28px;
    }
  
    .main-wrapper .content-wrapper h3,
    .main-wrapper .content-wrapper p {
      margin-right: 36.5rem;
    }
  
    .main-wrapper .content-wrapper p {
      font-size: 2.4rem;
      max-width: 452px;
      color: #143642;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      margin-top: 40px;
    }
  
    .main-wrapper .content-wrapper img {
      display: block;
      width: 40rem;
      height: 60rem;
      margin: auto;
      border-radius: 10px;
      object-fit: cover;
      margin-bottom: 2.2em;
    }
  
    .content-wrapper.showcase {
      display: flex;
      flex-direction: row-reverse;
      margin-left: 10.8rem;
    }
  
    .content-wrapper.showcase .caption.showcase h3,
    .content-wrapper.showcase .caption.showcase p {
      width: 425px;
      height: 58px;
      
    }
  
    .main-wrapper .content-wrapper.showcase img#product-showcase {
      width: 40rem;
      height: 40rem;
      position: relative;
      right: 25%;
    }
  
    .main-wrapper .content-wrapper #hang-out {
      width: 40rem;
      height: 40rem;
    }
  
    .btn {
      font-size: 2.4rem;
      padding: 1em 1.8em;
      border-radius: 5.5em;
      cursor: pointer;
    }
  
    .btn.showcase {
      margin-left: 0.5rem;
    }
  
    .btn.main-content {
      width: 43.4rem;
    }
  
    /* Feeds-Content */
  
    .main-wrapper-find-us {
      margin-top: 10rem;
    }
    .title-feeds,
    .ask-wrapper h2 {
      font-size: 4.8rem;
    }
  
    .title-feeds span {
      color: rgba(236, 154, 41, 1);
      text-decoration: underline #ec9a29 solid 2px;
      text-underline-offset: 20px;
    }
  
    .feeds-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 8em;
      column-gap: 25.6em;
      row-gap: 3.5rem;
    }
  
    .feeds-content img {
      width: 23.7rem;
      height: 23.7rem;
    }
  
    /* Section-Ask-Us */
  .ask-wrapper {
      margin-top: 15em;
  }
  
  .ask-wrapper h2 {
      font-size: 4.8rem;
      font-weight: 800;
  }
  
  .ask-wrapper p{
      font-size: 2.4rem;
  }
  
  .btn-ask-us {
      display: block;
      margin: auto;
      background-color: var(--btn-color);
      color: rgba(249, 251, 254, 1);
      font-family: 'Lato', sans-serif;
      font-size: 2.4rem;
      padding: 1em 5em;
      border-radius: 4.1em;
      margin-top: 1.75em;
      border: none;
      font-weight: 400;
      
  }
  }

