@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
    --primary-color: rgba(15, 139, 141, 1);
    --footer-bg-color: rgba(20, 54, 66, 1);
    --btn-color: rgba(168, 32, 26, 1);
}

main {
    font-family: 'Lato', sans-serif;
    margin-top: 1.8em;
}

.sidebar {
   font-size: 1.2rem;
   border: 1px solid rgb(120, 120, 120);
   width: max-content;
   padding: 20px;
   margin: 20px auto;
   box-sizing: border-box;
   border-radius: 10px;
}

.sidebar .title-sidebar {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid #EC9A29;
    margin-bottom: 10px;
    width: fit-content;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-right: 20px;
    cursor: pointer;
}

.sidebar a:hover {
    color: #EC9A29;
}

.active {
    border-bottom: 1.8px solid #EC9A29;
}

main .menu-content-wrapper h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.5em;
}

main .menu-content-wrapper p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
}

.list-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 2em;
}

.list-products .specific-menu {
    background-image: url(../assets/img/hero-img/Coffee\ background.png);
    background-position: left;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 13.5em;
    height: 13.5em;
    text-align: center;
    border-radius: 1em;
    transition: 300ms all;
    cursor: pointer;
}

.list-products .specific-menu:hover {
    transform: scale(1.1);
}

.list-products .specific-menu:hover .title {
    transform: translateY(600%);
}

.list-products .specific-menu:hover img {
    position: relative;
    bottom: 35%;
}

.list-products .specific-menu .title {
    color: #F9FBFE;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    transition: 300ms;
}

.list-products .specific-menu .products {
    font-weight: 700;
}

.list-products .specific-menu .price {
    font-weight: 400;
    margin-bottom: 0.1em;
}

.list-products .specific-menu img {
    width: 12em;
    height: 10em;
    -webkit-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}

/* BREAKPOINTS */
@media screen and (min-width: 1280px) {
    main {
        font-family: 'Lato', sans-serif;
        margin-top: 5.5em;
    }
    
    main .menu-content-wrapper h2 {
        font-size: 4.8rem;
    }
    
    main .menu-content-wrapper p {
        font-size: 2.4rem;
        font-weight: 500;
        margin-top: 1em;
    }
    
    .list-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 25rem;
        row-gap: 3.5rem;
        margin-top: 5em;
    }
    
    .list-products .specific-menu {
        background-image: url(../assets/img/hero-img/Coffee\ background.png);
        background-position: left;
        box-sizing: border-box;
        background-size: cover;
        padding: 0.5rem;
        width: 25em;
        height: 25em;
        text-align: center;
        border-radius: 1em;
    }

 .list-products .specific-menu:hover {
    transform: scale(1.1);
}

.list-products .specific-menu:hover .title {
    transform: translateY(680%);
}

.list-products .specific-menu:hover img {
    position: relative;
    bottom: 25%;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
    
    .list-products .specific-menu .title {
        color: #F9FBFE;
        font-size: 2rem;
        margin-bottom: 0.5em;
        padding-top: 0.2em;
    }
    
    .list-products .specific-menu .products {
        font-size: 2rem;
        font-weight: 700;
    }
    
    .list-products .specific-menu .price {
        font-size: 1.8rem;
        font-weight: 400;
    }
    
    .list-products .specific-menu img {
        width: 20.1em;
        height: 18.1em;
    }
}