@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
  --primary-color: rgba(15, 139, 141, 1);
  --footer-bg-color: rgba(20, 54, 66, 1);
  --btn-color: rgba(168, 32, 26, 1);
}

/* Media Query for Tablets Ipads */
/* @media (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: blue;
    }
} */

/* Media Query for Laptops and Desktops */
@media screen and (min-width: 1280px) {
  /* Header */
  header {
    border-radius: 20px;
    font-family: "Lato", sans-serif;
  }

  nav {
    background-color: var(--primary-color);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 70.8rem;
    padding: 5.3em 0 10em 10em;
  }

  .container ul {
    display: flex;
    gap: 5em;
    align-items: center;
  }

  .container ul a {
    text-decoration: none;
    color: #f9fbfe;
    font-size: 3rem;
    font-weight: 400;
  }

  .container .img-wrapper img {
    width: 335px;
    margin-bottom: 26px;
  }

  /* Header-main */
  #header-home {
    height: 50vmax;
    border-radius: 0.5rem;
  }

  #nav-home {
    background-color: var(--primary-color);
    background: transparent;
  }

  header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10em;
  }

  header .header-content h2 {
    display: block;
    margin: auto;
    max-width: 60rem;
    font-weight: 800;
    font-size: 7rem;
  }

  header .header-content p {
    font-size: 3.6rem;
    font-weight: 400;
    margin-top: 0.5em;
  }

  /* Main-content */
  .main-wrapper .content-wrapper {
    display: flex;
    margin-top: 10em;
  }

  .main-wrapper .content-wrapper h3 {
    font-size: 4.8rem;
    font-weight: 800;
    text-decoration: underline #ec9a29 solid;
    text-underline-offset: 28px;
  }

  .main-wrapper .content-wrapper h3,
  .main-wrapper .content-wrapper p {
    margin-right: 36.5rem;
  }

  .main-wrapper .content-wrapper p {
    font-size: 2.4rem;
    max-width: 452px;
    color: #143642;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-top: 40px;
  }

  .main-wrapper .content-wrapper img {
    display: block;
    width: 40rem;
    height: 60rem;
    margin: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 2.2em;
    margin-left: 26.8rem;
  }

  .content-wrapper.showcase {
    display: flex;
    flex-direction: row-reverse;
  }

  .content-wrapper.showcase .caption.showcase h3,
  .content-wrapper.showcase .caption.showcase p {
    width: 425px;
    height: 58px;
    margin-left: 26.8rem;
  }

  .main-wrapper .content-wrapper.showcase img#product-showcase {
    width: 40rem;
    height: 40rem;
    position: relative;
    right: 25%;
  }

  .main-wrapper .content-wrapper #hang-out {
    width: 40rem;
    height: 40rem;
  }

  .btn {
    font-size: 2.4rem;
    padding: 1em 1.8em;
    border-radius: 5.5em;
    cursor: pointer;
  }

  .btn.showcase {
    margin-left: 26.8rem;
  }

  .btn.main-content {
    width: 43.4rem;
  }

  /* Feeds-Content */

  .main-wrapper-find-us {
    margin-top: 10rem;
  }
  .title-feeds,
  .ask-wrapper h2 {
    font-size: 4.8rem;
  }

  .title-feeds span {
    color: rgba(236, 154, 41, 1);
    text-decoration: underline #ec9a29 solid 2px;
    text-underline-offset: 20px;
  }

  .feeds-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8em;
    column-gap: 25em;
    row-gap: 3.5rem;
  }

  .feeds-content img {
    width: 23.7rem;
    height: 23.7rem;
  }

  /* Section-Ask-Us */
.ask-wrapper {
    margin-top: 15em;
}

.ask-wrapper h2 {
    font-size: 4.8rem;
    font-weight: 800;
}

.ask-wrapper p{
    font-size: 2.4rem;
}

.btn-ask-us {
    display: block;
    margin: auto;
    background-color: var(--btn-color);
    color: rgba(249, 251, 254, 1);
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    padding: 1em 5em;
    border-radius: 4.1em;
    margin-top: 1.75em;
    border: none;
    font-weight: 400;
    
}
}
